
    
    
    
    
    
    // .logo {
    //     width: 8rem;
    //     margin-bottom: 2rem;
    //     transition-property: all;
    //     transition-delay: .25s;
    //     transition-duration: .5s;
    //     left: -1rem;
    //     opacity: 0;
        
    // }
    .overlay {
        background-color: var(--starbucks-green);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -1000vw;
        z-index: 1000;
        transition-property: all;
        transition-duration: .5s;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;
    }
    .overlay.active {
       left: 0;
    }
    .overlay.active .logo {
        left: 0;
        opacity: 1;
        transition-property: all;
        transition-delay: .25s;
        transition-duration: .5s;
    }
    .mobile-nav {
        
    }
    .mobile-nav a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.1rem;
        font-weight: bold;
        color: white;
        padding: .5rem 0;
        display: block;
        text-decoration: none;
    }
    .mobile-nav ul li {
        left: -1rem;
        opacity: 0;
        transition-property: all;
        transition-duration: .5s;
        position: relative;
    }
    .overlay.active .mobile-nav ul li {
        opacity: 1;
        left: 0;
    }
    .overlay.active .mobile-nav ul li:nth-child(1) {
        transition-delay: .5s;
    }
    .overlay.active .mobile-nav ul li:nth-child(2) {
        
        transition-delay: .6s;
    }
    .overlay.active .mobile-nav ul li:nth-child(3) {
        transition-delay: .7s;
    }
    